:vars {
  --foreground: #e4e1e9;
  --background: #121318;
  --cursor: #e4e1e9;
  --primary: #bac3ff;
  --on-primary: #222c61;
  --secondary: #c3c5dd;
  --on-secondary: #2d2f42;
  --tertiary: #e5bad7;
  --on-tertiary: #44263d;
  --surface: #121318;
  --surface-bright: #39393f;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #90909a;
  --shadow: #000000;
  --red: #ffb2b9;
  --red-dim: #ff7f8b;
  --green: #95d5a7;
  --green-dim: #70c789;
  --yellow: #b8cf84;
  --yellow-dim: #a3c15f;
  --blue: #bcc2ff;
  --blue-dim: #8994ff;
  --magenta: #e4b7f3;
  --magenta-dim: #d48bec;
  --cyan: #82d3e2;
  --cyan-dim: #59c4d8;
  --white: #82d3e0;
}
